body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial;
}

.join-container {
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

.join-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.video-box video {
    width: 300px;
    border-radius: 10px;
}

.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.controls button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}